@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* General Styles */
.body{
    background-color: #F1F1F3;
    font-family: "Fira Sans", serif;
}
/* NAV VAR STYLE */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}
.nav-title{
    
    margin: 31px 0px;
}
.sign-button{
    border-radius: 8px;
    padding: 15px 30px;
    border: solid #006A50;
    cursor: pointer;
    margin: 24px;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;

}
.hover-sign:hover {
        background-color: hwb(120 96% 3%); 
        transform: scale(1.05);
}
/* HERO STYLE */
.hero{
    display: flex;
    background-color: #C6E4D6;
    margin: 20px 160px 80px;
    border-radius: 24px;
    width: 1570px;
    height: 560px;
}
.hero-content{
    margin: 117PX 64PX 117PX 60px;
}
.hero-image{
    margin: 80px 60px 80px 0px;
}
.hero-tag{
    font-weight: 500;
    font-size: 24px;
    color:#6e6868;
}
.hero-text{
    font-size: 58px;
}
.hero-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding:  17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

/* PILLAR STYLE */
.pillars-container{
    margin: 0px 160px 80px 160px;
    gap: 32px;
}
.pillar-list{
    display: flex;
   justify-content: space-between;
    height: 244px;
}
.pillar{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    border: 2px solid #0E0E0E26;
    width: 20%;

}
/* VISION STYLE */
.vision-container{
    margin: 0px 160px 80px 160px;
    gap: 32px;
}
.vision-paragraph{
    color: #0E0E0EB2;
    font-weight: 400;
    width: 1480px;
    height: 60px;
    font-size: 18px;

}
.vision-items{
    display: flex;
    justify-content: space-between;
    height: 375px;
   
    gap: 34px;
    margin: 32px 0px;
    
}
    
/* VISION BOXES STYLE */
.vision-box-paragraph{
    color: #0E0E0EB2;
    font-weight: 400;
    font-size: 16px;
   
}
.vision-box{
    border-radius: 16px;
    padding: 32px;
}
.vision-box1{
    background-color: #5490F533;
    
}
.vision-box2{
    background-color: #C6E4D6;
}
.vision-box3{
    background-color: #F7EBCF;
    
}

/* button box style */
.btn-box{
    margin-top: 54px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 11px 20px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    width: 140px;
    height: 46px;
}
.btn1{
    background-color: #5490F5;
}
.button1:hover {
    background-color: #165edc; /* Change color on hover */
    transform: scale(1.05);
}
.btn2{
    background-color: #09A15C;
}
.button2:hover {
    background-color: #05663a; /* Change color on hover */
    transform: scale(1.05);
}
.btn3{
    background-color: #FFC239;
}
.button3:hover {
    background-color: #b3810d; /* Change color on hover */
    transform: scale(1.05);
}

/* Dr.Muhammed Yunus */
.yunus-container{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px 24px;
    

}
.yunus-contant{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
   
}
.speech{
    color: #0E0E0ECC;
    font-weight: 400;
    font-size: 16px;
    

}
.name{
    color: #0E0E0ECC;
    font-weight: 600;
    font-size: 16px;
}
.yunus-identity{
    font-size: 16px;
    color: #0E0E0E99;
    
}
/* RECENT NEWS */
.news-container{
    margin: 0px 160px 80px;
    

}
.news-container2{
    margin-top: 24px;
}
.news-header{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.news-text{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB2;
    margin-bottom: 32px;
}


.news-item{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    
}

.info-title{
    color: #0E0E0ECC;
    font-weight: bold;
    font-size: 32px;
}
.info-text{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB2;
}

/* Donate for bangladash */

.donate-container{
    margin: 0px 160px 80px;
    text-align: center;
    padding: 0px 88px;
}
.donate-text{
    margin-bottom: 32px;
    font-weight: 400;
    color: #0E0E0EB2;
}
.donate-options{
    display: flex;
    justify-content: center;
    gap: 24px
}

.donate-btn{ 
    border-radius: 16px;
    width: 240px;
    height: 110px;
    border: 1px solid #0E0E0E26;
    font-weight: bold;
    font-size: 38px;
    color: #0E0E0ECC;
    background-color: #FFFFFF;
    cursor: pointer;
} 
.input-amount{
    display: flex;
    flex-direction: column;

}
.amount-box{
    background-color: #FFFFFF;
    margin: 32px 240px;
    padding: 20px 40px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
    border-bottom: 1px solid #d4cdcd;

}
.btn-done{
    margin: 0px 620px;
}


/* subscrive style */
.newsletter-container{
    text-align: center;
    margin: 0px 160px 80px;
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
}
.newsletter-subscribe{
    display: flex;
    margin-left: 285px;
    margin-top: 24px;
    margin-bottom: 24px;

}
.email-box{
    padding: 18px 40px;
    background-color: #FFFFFF;
    width: 50%;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #545454;
    border-radius: 8px 0px 0px 8px;
}
.newsletter-text{
    margin: 0px 250px ;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB2;
}
.subscribe-btn{
    border-radius: 0px 8px 8px 0px;
    border: none;
    padding: 17px 34px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    cursor: pointer;

}
.footer-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
}

/* Footer style */
.footer{
    text-align: center;
}

/* shared style */

.bold-text{
    font-weight: bold;
    color: #0E0E0E;
}

.font-32{
    font-size: 32px;
}
.font-40{
    font-size: 40px;
    height: 48px;
}
.button:hover {
    background-color: #024105; /* Change color on hover */
    transform: scale(1.05);
}
.box-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0ECC;
}
.pillars-paragraph{
    color: #0E0E0EB2;
    font-weight: 400;
}
.satelite{
    border-radius: 24px;
    margin-top: 15px;
}
.donate-button:hover {
    background-color: #c6e8d8; /* Change color on hover */
    transform: scale(1.05);
}


